# Files #
*.jar
*.war
*.ear
*.db
*.html

#directories 
bin/**
debug/**
release/**
tmp/**
tmp/**/*
temp/**
documentation/**
dox/**
html/**
lib/**
latex/**


# Eclipse
.metadata
.project
*.tmp
*.bak

# Locally stored "Eclipse launch configurations"
*.launch
 
# CDT-specific
.cproject
 
