# Files #
*.jar
*.war
*.ear
*.db
*.html
*.a
*.so
*.bin
*.o
*.lo
*.lib
*.so.*
*.orig

#directories 
bin/
[Dd]ebug/
[Rr]elease/
tmp/
[Tt]emp/
Documentation/
Dox/
html/
lib/
latex/
RemoteSystemTempFiles/


# Eclipse
.metadata/*.*
.project
*.tmp
*.bak
*.cproject
.settings/*.*


# Locally stored "Eclipse launch configurations"
*.launch
 
# CDT-specific
.cproject
 
